<h2>Wikinimous</h2>

<%= link_to "New Article", articles_new_path  %>

<div>
  <% @articles.each do |article| %>
  <%= link_to article_path(article.id) do  %>
    <h3><%= article.title %></h3>
  <% end  %>
    <p><%= article.content %></p>
  <% end %>
</div>
